<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Панель управления</h1>
        <p>Добро пожаловать, {{ current_user.email }}!</p>
        {% include 'partials/navigation.html' %}
        {% if current_user.is_hr %}
            {% include 'partials/candidates_section.html' %}
        {% elif current_user.is_candidate %}
            {% include 'partials/tests_section.html' %}
        {% endif %}
    </div>
</body>
</html>
