<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>SberКарьера</title>

  <!-- bootstrap core css -->
<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />-->
  <link rel="stylesheet" href="static/css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" />
            <span>
              SberКарьера
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="">Домой<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="hr">HR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="candidate">Кандидат</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">О нас</a>
              </li>
            </ul>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Выберите <br>
                      роль
                    </h1>
                    <p>
                      Мы предоставляем набор инструментов на основе искусственного интеллекта для прохождения собеседования, подбора кандидатов, удобного взаимодействия. Выберите свою роль чтобы продолжить.
                    </p>
                    <div class="btn-box">
                      <a href="hr" class="btn-1">
                        Я HR
                      </a>
                      <a href="candidate" class="btn-2">
                        Я кандидат
                      </a>
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-5 img-container">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/experience-img.png') }}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- info section -->

  <section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" />
            <span>
              SberКарьера
            </span>
          </div>
        </div>

        <div class="info_main">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <div class="info_link-box">
                <h5>
                  Навигация
                </h5>
                <ul>
                  <li class=" active">
                    <a class="" href="">Домой <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="hr">Для HR</a>
                  </li>
                  <li class="">
                    <a class="" href="candidate">Для кандидатов</a>
                  </li>
                  <li class="">
                    <a class="" href="about">О нас</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 ">
              <h5>
                Тестовая верисия страницы
              </h5>
              <p>
                Сайт выполнен в рамках хакатона. Некоторые функции могут отсутствовать.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-10 mx-auto">
            <div class="info_contact layout_padding2">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="{{ url_for('static', filename='images/location.png') }}" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Офис
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="{{ url_for('static', filename='images/mail.png') }}" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        demo@gmail.com
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-5">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="{{ url_for('static', filename='images/call.png') }}" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Call +7 999 999 99 99
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end info section -->

  <img src="static/images/logo.png" alt="" />

  <script src="static/js/jquery-3.4.1.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/custom.js"></script>

</body>

</html>